body {
    background-image: url("../photos/background.jpg");
    background-repeat: repeat;
    background-size: 20%;
}

.navbar {
    padding: 0.4%;
    font-size: 18px;
    background-color: #333333 !important;
}

.navbar a {
    color: #ffffff !important;
}

.navbar a:hover {
    color: orange !important;
}

.navbar-brand {
    padding: 0 !important;
}

.navbar-collapse {
    text-align: center;
}

#logo {
    height: 5rem;
    width: 9rem;
}

section {
    padding-top: 90px;
    height: 100vh;
    color: white;
}

.navbar-nav > .active > a {
    background: none !important;
    color: orange !important;
}

#footer {
    position: static;
    bottom: 0;
    background-color: #333333;
    color: white;
    width: 100%;
    height: 6.5rem;
    padding: 2.3rem;
    font-size: 1.7rem;
    margin-top: 30px;
}

#footer a {
    color: orange;
    text-decoration: none;
}

#footer a:hover {
    color: darkorange;
}

#home {
    padding-top: 64px;
}

.innerDiv {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../photos/pozadina.png");
    background-size: 100%;
    background-repeat: repeat;
    height: 100%;
    max-height: 100vh;
    border-bottom-right-radius: 100%;
}

.outterDiv {
    height: 100%;
    background-color: #E3A214;
}

#course_logo {
    width: 20%;
    height: 38%;
    position: absolute;
    right: 2%;
    bottom: 3.5%;
}

.containerHome {
    margin-left: 7%;
}

.homeContent {
    text-align: center;
    font-family: normalLetters;
    padding-top: 7%;
}

.capital {
    font-family: cpitalLetters !important;
}

.etwof {
    font-size: 500%;
}

.ds {
    font-size: 1300%;
}

.btn-lg {
    width: 25%; 
    border-radius: 20px;
    font-size: 280%;
    background-color: #E3A214;
}

.ITteamPhoto {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    padding-top: 1%; 
}

.itTeam {
    margin-top: 93px;
    padding: 1.8% 0; 
    background-color: hsla(0, 0%, 20%, 0.8);
    border-radius: 30px; 
}

.itteam {
    text-align: center;
    padding: 0;
}

.itteam > span {
    font-size: 1.5em;
    color: white ;
}

.itteam > span > a {
    color: #E3A214;
    text-decoration: none;
}

  .brightness {
    display: inline-block;
}
.brightness img:hover {
    opacity: 1 !important;
}

.uf_content{
    background-color: hsla(0, 0%, 20%, 0.8);
    padding: 1.8% 0; 
    border-radius: 30px; 
    margin-top: 8%;
}

.uf_content .col-sm-4 {
    text-align: center;
}

.uf_content .col-sm-12 {
    text-align: center;
}

.oranges{
    width:90% !important;
    height:90% !important;
}

.contactContent {
    vertical-align: middle;
    background-color: hsla(0, 0%, 20%, 0.8);
    border-radius: 30px; 
    padding: 0 1% 1% 1%; 
    text-align: center;
    font-size: 129%; 
    margin-top: 13%;
}

.contactHeading {
    margin-bottom: 1%;
}

.contactContent span i {
    color: #E3A214;
}

.contactContent span a, .organizers span a, .itTeam span a {
    color: white !important;
} 

.contactContent span a:hover, .organizers span a:hover, .itTeam span a:hover {
    color: #E3A214 !important;
    text-decoration: none !important;
}

.contactContent a i {
    color: #E3A214;
    font-size: 220%;  
    margin: 4%;
    margin-bottom: 0;
}

.fa {
    color: #E3A214;
}

.contactContent a i:hover {
    color: white;
}

.contactPosition {
    font-size: 130%;
    color: #E3A214;
}

.applyContent {
    margin-top: 5%;
}
 
.OrganizersImg {
    width: 20em;
    height: 20em;
    border-radius: 50%;
    padding-top: 1%; 
}

.CT {
    margin-top: 100px;
    padding: 1.8% 0; 
    background-color: hsla(0, 0%, 20%, 0.8);
    border-radius: 30px; 
}

.organizers {
    text-align: center;
    padding: 0;
}


.organizers > span {
    font-size: 1.5em;
    color: white;
}

.organizers > span > a {
    color: #E3A214;
    text-decoration: none;
}

.CT .row .col-sm-12 {
    color: white;
    text-align: center;
}


.PaxImg {
    width: 20em;
    height: 20em;
    border-radius: 50%;
   
}

.pax {
    margin-top: 100px;
    padding: 1.8% 0; 
    background-color: hsla(0, 0%, 20%, 0.8);
    border-radius: 30px; 
}

.pax .row .col-sm-12 {
    color: white;
    text-align: center;
}

.participants {
    text-align: center;
    padding: 0;
}

.participants > span {
    font-size: 1.5em;
    color: white;
}

.funfact {
    vertical-align: middle;
    background-color: hsla(0, 0%, 20%, 0.8);
    border-radius: 30px; 
    padding: 0 1% 1% 1%; 
    text-align: center;
    font-size: 129%; 
    margin-top: 13%;
}

.contactHeading {
    margin-bottom: 1%;
}

.funfact span i {
    color: white;
    font-size: 80px;
    margin-top:50px;
}

.funfact span i:hover {
    color: #E3A214;
}

#orangePhoto {
    height:70px;
    width:70px;
    color: black;
    margin-top:50px;
}

#orangePhoto:hover {
    background: linear-gradient(#E3A214, #E3A214); 
}

.contactPosition {
    font-size: 130%;
    color: #E3A214;
}

.aboutBEST {
    margin:15px;
    margin-top: 5%;
    background-color: hsla(0, 0%, 20%, 0.8);
    border-radius: 30px;  
    width:30%;
    height: 700px;
    padding: 0;
    text-align: center;
    font-size: 140%; 
}

.top {
    width:100%;
    height: 25%;
    background-color: hsla(0, 0%, 10%, 0.5);
    padding: 15px;
    border-radius: 30px;
}

.aboutContent{
    padding:8px;
    margin-top: 5px;
}

#photo1{
    width:140px;
    height:130px;
}

#photo2{
    height:100px;
    width:180px; 
    margin-top: 10px;
}

#photo3{
    height:125px;
    width:178px; 
    margin-top: -3px;
}
/* Partners section */


img {
    max-width: 100%;
    height: auto;
}

.partners{
    background-color: hsla(0, 0%, 20%, 0.8);
    padding: 1.8% 0; 
    border-radius: 30px; 
    margin-top: 3%;
}
.partners .col-sm-4 {
    text-align: center;
    margin-top: 15px;
}

.partners .col-sm-12 {
    text-align: center;
}
.partners .col-sm-6 {
    text-align: center;
    margin-top: 15px;
}

.partnersImg{
    width: 300px;
}

#mistralLogo, #fitLogo {
    width: 250px;
}

#goldPartner {
    color: gold;
}

#bronzePartner {
    color: #CD7F32;
}

#mediaPartner {
    color: #ce3623;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        padding: 0.4%;
        font-size: 14px;
    }

    #footer { 
        font-size: 1.5rem;
    }

    #course_logo {
        width: 20%;
        height: 25%;
    }

    #home {
        padding-top: 59px;
    }

    .containerHome { 
        margin-left: 2%;
    }

    .ds {
        font-size: 1000%;
    }

    .uf_content{
        margin-top: 18%;
    }
    
    .contactContent { 
        margin-top: 25%;
    }

    .aboutBEST {
        height:800px; 
    }

    .top {
        height: 20%;
        padding: 15px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .navbar {
        padding: 0.2%;
        font-size: 8.8px;
    }

    #footer { 
        font-size: 1.3rem;
    }

    #course_logo {
        width: 22%;
        height: 25%;
    }

    #home {
        padding-top: 54px;
    }

    .containerHome { 
        margin-left: 1%;
    }

    .ds {
        font-size: 800%;
    }

    .btn-lg { 
        width: 30%;   
        font-size: 3rem;
    }
    
    .uf_content{
        margin-top: 15%;
    }

    .contactContent { 
        margin-top: 35%;
    }

    #about {
        height: 200vh !important;
    }

    .funfact {
        margin-top: 300px;
    }

    .uf_content {
        margin-top: 300px;
    }

    .aboutBEST { 
        width: 100% !important;
        margin-top: 5% !important;
    }

    .top {
        height: 30%;
        padding: 15px;
    }
}

@media only screen and  (min-width: 320px) and (max-width: 480px) { 
    #footer { 
        font-size: 1.2rem;
    }

    #course_logo {
        width: 35%;
        height: 20%;
    }

    #home {
        padding-top: 54px;
    }

    .containerHome { 
        margin-left: 1%;
    }

    .homeContent {
        padding-top: 20%;
    }

    .etwof {
        font-size: 200%;
    }

    .ds {
        font-size: 400%;
    }

    .btn-lg { 
        width: 40%;   
        font-size: 2rem;
    }

    .oranges{
        width:50% !important;
        height:60% !important;
    }
    .uf_content{
        margin-top: -8.5%; 
    }

    .contactContent .col-sm-4 {
        margin: 6%;
    }

    .contactContent { 
        margin-top: 1%;
    }

    .funfact {
        margin-top: -8.5% !important;
        font-size: 80% !important; 
        margin-top: 13%;
    }

    .funfact span i { 
        font-size: 50px !important;
    }

    #about {
        height: 400vh !important;
    }

    #funFacts {
        height: 150vh !important;
    }

    #usefulInfo {
        height: 150vh !important;
    }

    #contact {
        height: 150vh !important;        
    }

    #partners {
        height: 165vh !important; 
    }

    .funfact {
        margin-top: 30px !important;
    }

    .uf_content {
        margin-top: 25px;
    }

    .aboutBEST { 
        width: 100% !important;
        margin-top: 5% !important;
        height: 650px;
        font-size: 130%;
    }

    .top {
        height: 25%;
        padding: 15px;
    }
}

@font-face {
    font-family: cpitalLetters;
    src: url(../fonts/Gasalt-Regular.ttf);
}

@font-face {
    font-family: normalLetters;
    src: url(../fonts/guildof.ttf);
}